@import './colors.scss';
.home-section {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 0 10rem;
  justify-content: space-between;

  > .home-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 45%;
    min-width: 300px;
  }

  #home-name {
    color: $main-purple-tone;
  }

  #home-moving-text {
    color: $main-purple-tone;
  }

  > img {
    max-height: 25rem;
  }

  .home-text > *:nth-child(2) {
    margin-top: -5px;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#wave {
  display: inline-block;
  animation: wave 1s infinite;
  margin-left: 5px;
}

//smaller screen properties
@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .home-section {
    flex-direction: column;
    padding: 0 2rem;
  }

  .home-text {
    max-width: 100%;
    text-align: left;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }

  .home-image {
    max-width: 100%;
  }

  .home-section > img {
    max-width: 100%;
    align-self: center;
  }

  #home-moving-text {
    color: $main-purple-tone;
    text-align: left;
  }
}
