.scrollable-content {
  position: relative;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 23, 0.31) 0%,
    rgba(117, 2, 117, 0.104) 100%
  );

  > .content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 200vh;
    padding: 20px;
  }
}

.nav-bar {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  width: 100vw;
  box-sizing: border-box;
  background-color: transparent; //Initial transparent background
  transition: background-color 0.3s ease;
  z-index: 5;
  backdrop-filter: blur(0);

  &.active {
    background-color: rgba(64, 64, 64, 0.247);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Add this line */
  }

  > .nav-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 2rem;

    > .nav-icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    > .nav-text {
      color: white;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

//smaller screen properties
@media (max-width: 650px) {
  .nav-bar {
    justify-content: space-around;
    padding: 1rem 1rem;

    > .nav-item {
      margin-right: 0;
      flex: 1;
      justify-content: center;
      align-items: center;
      text-align: center;

      > .nav-text {
        display: none; // Hide the text on smaller screens
      }

      > .nav-icon {
        margin-right: 0;
      }
    }
  }
}
